include:
  - caddy/docker-compose.yaml

services:
  node-manager:
    image: ghcr.io/atominfra/node-manager:${ENVIRONMENT}
    restart: always
    ports:
      - 8000:8000
    environment:
      - CADDY_ADMIN_URL=http://caddy:2019
      - PUBLIC_KEY=${PUBLIC_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - atominfra

networks:
  atominfra:
    external: true
